<?xml version="1.0" encoding="UTF-8"?>
<launch>
	    <rosparam file="$(find mybot_pkg)/config/params.yaml"/>

        <node name="arduino_serial_node" pkg="rosserial_python" type="serial_node.py" respawn="true" output="screen">
        	    <param name="port" value="/dev/ttyACM0"/>
    			<param name="baud" value="57600"/>
        </node>
</launch>